<script>
  var index_nav = document.getElementById("index_nav");
  var gallery_nav = document.getElementById("gallery_nav");
  var teacher_nav = document.getElementById("teacher_nav");
  var courses_nav = document.getElementById("courses_nav");
  var contact_nav = document.getElementById("contact_nav");
  if (location.pathname == "/index.html") {
    index_nav.classList.add("active");
  } else if (location.pathname == "/teacher.html") {
    teacher_nav.classList.add("active");
  } else if (location.pathname == "/gallery.html") {
    gallery_nav.classList.add("active");
  } else if (location.pathname == "/courses.html") {
    courses_nav.classList.add("active");
  } else if (location.pathname == "/contact.html") {
    contact_nav.classList.add("active");
  }
</script>
<div class="py-2 bg-primary">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md-5 pr-4 d-flex topper align-items-center">
            <div class="icon bg-fifth mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
            <span class="text">69, Godeokbuk-ro, Godeok-myeon, Pyeongtaek-si</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon bg-secondary mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
            <span class="text">happyhouse@gmail.com</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
            <span class="text">+82 10-5384-8969</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand" href="index.html">Happy Preschool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"><span class="oi oi-menu"></span> Menu</button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li id="index_nav" class="nav-item"><a href="index.html" class="nav-link pl-0">Home</a></li>
        <li id="teacher_nav" class="nav-item"><a href="teacher.html" class="nav-link">Teacher</a></li>
        <li id="courses_nav" class="nav-item"><a href="courses.html" class="nav-link">Courses</a></li>
        <li id="gallery_nav" class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>
        <li id="contact_nav" class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
